<!DOCTYPE html>
<title>Login</title>
<h1>Login</h1>
<p>Username</p>
<input type="text" id="username" name="username"><br>
<p>Password</p>
<input type="password" id="password" name="password"><br>
<button type="button" onclick="submit()">submit</button><br>
<a href="/newUser">create account</a>

<script>
    function submit(){
        document.cookie=''; //removes any cookies that may be there, may be subject to change
        document.cookie='username=' + document.getElementById("username").value; //stores username and password so that the server can retreive it
        document.cookie='password=' + document.getElementById("password").value;
        window.location.replace("{{newPageLoc}}"); //sends to new page, made it so that I can get python to decide which page to send too (makes it easier since I can change it easier)
    }
</script>