<!DOCTYPE html>

<title>New item</title>

<form action="/newItem" method="post", name="form", enctype="multipart/form-data">
    <p>Item name: </p><input type="text" id="itemName" name="itemName"><br>
    <p>Description: </p><textarea id="description" name="description"></textarea><br>
    <p>Image:</p><input type="image" name="image" id="image">
</form>

<button type="button" onclick="submit()">submit</button><br>

<script>

    function submit(){
        document.form.submit(); //submits the form
    }
</script>